<div class="page full">
    <app-sidebar page="proposals"></app-sidebar>
    <div class="page__content">
        <app-header></app-header>
        <div class="page__row">
            <div class="page__col">
                
                <div class="promotions">
                    <div class="promotions__wrapper">
                      <div class="promotions__brand h2">Oops, Not Found.</div>
                      <div class="promotions__title h5">Seems you are lost also......</div>
                                           <div class="promotions__row">
                        <div class="promotions__col">
                          <div class="slider slider_promotions">
                            <div class="slider__container">
                                                        
                                <div class="slider__item">
                                  <div class="slider__wrap">
                                    <div class="slider__title">Decentralized Gaming Economy</div>
                                    <div class="slider__info" style="margin-bottom: 160px;">We are building a sustainable decentralized gaming economy for our ecosystem…</div>
                                    
                                    <div >
                                         </div>
                                  </div>
                                 
                                </div>
                              </div>
                            
                          </div>
                        </div>
                        
                        <div class="promotions__col">
                          <div class="promotions__head">
                            <div class="promotions__category h6">Gamerevv Page Finder</div>
                            <div class="dropdown"><button class="dropdown__head"><svg class="icon icon-dots">
                                  <use xlink:href="img/sprite.svg#icon-dots"></use>
                                </svg></button>
                              <div class="dropdown__body"><a class="dropdown__link selected" href="#">Upcoming Features</a>
                                <a class="dropdown__link" href="#">New Promotions</a><a class="dropdown__link" href="#">All Promotions</a>
                                <a class="dropdown__link" href="#">Featured Promotions</a></div>
                            </div>
                          </div>
                          <div class="promotions__group promotions__group_row ">
                              <a class="promotions__box_defi" href="\home">
                              <div class="promotions__icon">
                                <img src="assets/img/Home.svg" alt="Home" *ngIf="!isDarkMode" />
                                <img src="assets/img/white_icons/Home.svg" alt="Home" *ngIf="isDarkMode" />
                                </div>
                              <div class="promotions__details">
                                <div class="promotions__info">Homepage</div>
                              </div>
                              </a>
                              
                              <a class="promotions__box_defi" href="\swap">
                              <div class="promotions__icon">
                                <img src="assets/img/swap.svg" alt="Home" *ngIf="!isDarkMode" />
                                <img src="assets/img/white_icons/swap.svg" alt="Home" *ngIf="isDarkMode" />
                                </div>
                              <div class="promotions__details">
                                  <div class="promotions__info">Swap Page </div>
                              </div>
                            </a>
                              
                              <a class="promotions__box_defi" href="\proposals">
                              <div class="promotions__icon">
                                <img src="assets/img/proposal.svg" alt="Home" *ngIf="!isDarkMode" />
                                <img src="assets/img/white_icons/proposal.svg" alt="Home" *ngIf="isDarkMode" />
                            </div>
                              <div class="promotions__details">
                              <div class="promotions__info">Proposal Page</div>
                              </div>
                            </a>
                            
                            <a class="promotions__box_defi" href="\wallet">
                                <div class="promotions__icon">
                                    <img src="assets/img/wallet.svg" alt="Home" *ngIf="!isDarkMode" />
                                    <img src="assets/img/white_icons/wallet.svg" alt="Home" *ngIf="isDarkMode" />
                                </div>
                                <div class="promotions__details">
                                    <div class="promotions__info">Wallets Page </div>
                                </div>
                              </a>

                              <a class="promotions__box_defi" href="\games">
                                <div class="promotions__icon">
                                    <img src="assets/img/Game.svg" alt="Home" *ngIf="!isDarkMode" />
                                    <img src="assets/img/white_icons/Game.svg" alt="Home" *ngIf="isDarkMode" />
                                </div>
                                <div class="promotions__details">
                                    <div class="promotions__info_defi">Gameroom</div>
                                </div>
                              </a>
                           
                        </div>
                        </div>
                      </div>
                        </div>
                      </div>
            </div>

        </div>
    </div>
</div>