.iframe {
    height: calc(100vh - 120px) !important;
    min-height: calc(100vh - 120px) !important;
}

.icon-arrow-next {
    width: 0.6em;
    height: 1em;
    fill: #FFF;
}

.icon-arrow-prev {
    width: 0.6em;
    height: 1em;
    fill: #FFF;
}

.next, .prev{
    background: #ededed;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #fff;
    line-height: 30px;
    z-index: 1000;
}

h4{
    margin-bottom: 1.5rem;
}

.ml-1{
    margin-left: 1rem;
}

.small{
    width: 50px
}
.d-flex{
    display: flex;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
    text-align: right;
}

.game___requirement__inner{
    display: flex;
    width: 100%;
}

@media (max-width: 900px) {
    .w-60{
        width: 100%;
    }
    .w-40{
        width: 100%;
        padding-top: 1rem;
    }

    .game___requirement__inner{
        display: block;
    }
}

.fullscreen {
    width: 100% !important;
    height: 100vw !important;
    min-height: 100vw !important;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    z-index: 10000000;
    padding: 0px;
}

.fullscree-btn {
    
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0px;
    z-index: 100000000;
}