<div class="page full">
    <app-sidebar page="proposals"></app-sidebar>
    <div class="page__content">
        <app-header></app-header>
        <div class="page__row">
            <div class="page__col">
                <div class="promotions">
                    <div class="promotions__wrapper">
                      <div class="promotions__brand h2">Gamerevv</div>
                      <div class="promotions__title h5">NFT Maketplace - Coming soon...</div>
                                           <div class="promotions__row">
                        <div class="promotions__col">
                          <div class="slider slider_promotions">
                            <div class="slider__container">
                                                        
                                <div class="slider__item">
                                  <div class="slider__wrap">
                                    <div class="slider__title">Trade & Exchange In-game assets.</div>
                                    <div class="slider__info" style="margin-bottom: 160px;">Our NFT-Marketplace will facilitate the seamless transfer and trading of both ERC 721 & ERC 1155 tokens.
                                    </div>
                                    
                                    <div >
                                        <a class="promotions__box promotions__box_defi" href="\home">
                                        <button class="slider__btn btn btn_white" >Go Home</button></a> </div>
                                  </div>
                                  <div class="slider__preview"><img src="/assets/img/nfts.png" alt=""></div>
                                </div>
                              </div>
                            
                          </div>
                        </div>
                        
                        <div class="promotions__col">
                          <div class="promotions__head">
                            <div class="promotions__category h6">Upcoming Features</div>
                            <div class="dropdown"><button class="dropdown__head"><svg class="icon icon-dots">
                                  <use xlink:href="img/sprite.svg#icon-dots"></use>
                                </svg></button>
                              <div class="dropdown__body"><a class="dropdown__link selected" href="#">Upcoming Features</a>
                                <a class="dropdown__link" href="#">New Promotions</a><a class="dropdown__link" href="#">All Promotions</a>
                                <a class="dropdown__link" href="#">Featured Promotions</a></div>
                            </div>
                          </div>
                          <div class="promotions__group promotions__group_row ">
                              <a class="promotions__box promotions__box_defi" href="\home">
                              <div class="promotions__icon"><img src="assets/img/promotions-icon-1.png" alt=""></div>
                              <div class="promotions__details">
                                                               <div class="promotions__info">Rent Contracts</div>
                              </div>
                              
                            </a><a class="promotions__box" href="\home">
                              <div class="promotions__icon"><img src="assets/img/promotions-icon-2.png" alt=""></div>
                              <div class="promotions__details">
                                
                                <div class="promotions__info">NFT minting</div>
                              </div>
                            </a><a class="promotions__box" href="\home">
                              <div class="promotions__icon"><img src="assets/img/promotions-icon-3.png" alt=""></div>
                              <div class="promotions__details">
                                                                <div class="promotions__info">NFT Trading</div>
                              </div>
                            </a>
                           
                        </div>
                        </div>
                      </div>
                        </div>
                      </div>

            </div>

        </div>
    </div>
</div>