<div class="login">
    <div class="login__row">
        <app-left class="dark-bg"></app-left>
        <div class="login__col index-right">
            <form action="register" method="POST">
                <a class="login__logo" href="index.html"><img src="assets/img/2-Secondary logo.svg" alt=""></a>
                <div class="login__form">
                    <div class="login__stage h4">Forgot <br>Password</div>
                    <div class="success" *ngIf="successMessage"> {{ successMessage }} </div>
                    <div class="login__field field js-field">
                        <div class="field__label">Email</div>
                        <div class="field__wrap"><input class="field__input js-field-input" type="email"
                                [(ngModel)]="email" name="email"></div>
                    </div>


                    <a class="login__verify" (click)="verify = true" [ngClass]="verify ? 'success' : ''">Click to verify
                        <svg class="icon icon-verify" *ngIf="verify">
                            <use xlink:href="img/sprite.svg#icon-verify"></use>
                        </svg>
                        <div class="login__status"> </div>
                    </a>
                    <a class="login__btn btn btn_blue btn_wide btn-block" (click)="submit()"
                        *ngIf="!isProcessing">Send</a>
                    <a class="login__btn btn btn_grey btn_wide btn-block" *ngIf="isProcessing"><img
                            class="button-loader" src="assets/img/animation_500_kz2ksczx.gif"></a>
                    <div class="login__flex">
                        <div class="login__text">Remembered your password?</div><a class="login__link"
                            routerLink="/"><svg class="icon icon-link">
                                <use xlink:href="assets/img/sprite.svg#icon-link"></use>
                            </svg>Sign in now</a>
                    </div>
                </div>
            </form>
            <app-toast [message]="message"></app-toast>
        </div>
    </div>
</div>