<div class="popup popup_settings mfp-hide" id="popup-invite">
    <div class="popup__title h6">Send Gamerevv invite to a friend</div>
    <div class="popup__tabs js-tabs">
        <div class="operations">
            <form class="operations__form d-block" *ngIf="!invite">
                <div class="operations__field field js-field">
                    <div class="field__label">EMAIL ADDRESS<svg class="icon icon-info-square">
                            <use xlink:href="img/sprite.svg#icon-info-square"></use>
                        </svg></div>
                    <div class="field__wrap"><input class="field__input js-field-input" type="text" name="email"
                            [(ngModel)]="email"> </div>
                    
                </div>
                
                <button class="operations__btn btn btn_blue btn_wide" (click)="submit()">Send</button>
            </form>
            <form class="operations__form d-block" *ngIf="invite">
                <div class="login__stage h4">Thank you for inviting {{ email }}</div>
            </form>
        </div>
    </div>
    <app-toast [message]="message"></app-toast>
</div>